.d-flex {
  display: -ms-flexbox;
  display: flex;
}
.flex-row {
  -ms-flex-direction: row;
  flex-direction: row;
}
.flex-column {
  -ms-flex-direction: column;
  flex-direction: column;
}
.flex-row-reverse {
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
.flex-column-reverse {
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
}
.justify-content-start {
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.justify-content-end {
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.justify-content-center {
  -ms-flex-pack: center;
  justify-content: center;
}
.justify-content-between {
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.justify-content-around {
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
@media (min-width: 768px) {
  div .t-d-flex {
    display: -ms-flexbox;
    display: flex;
  }
  div .t-flex-row {
    -ms-flex-direction: row;
    flex-direction: row;
  }
  div .t-flex-column {
    -ms-flex-direction: column;
    flex-direction: column;
  }
  div .t-flex-row-reverse {
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
  }
  div .t-flex-column-reverse {
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  div .t-justify-content-start {
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  div .t-justify-content-end {
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  div .t-justify-content-center {
    -ms-flex-pack: center;
    justify-content: center;
  }
  div .t-justify-content-between {
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  div .t-justify-content-around {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
}
@media (min-width: 992px) {
  body .desk-d-flex {
    display: -ms-flexbox;
    display: flex;
  }
  body .desk-flex-row {
    -ms-flex-direction: row;
    flex-direction: row;
  }
  body .desk-flex-column {
    -ms-flex-direction: column;
    flex-direction: column;
  }
  body .desk-flex-row-reverse {
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
  }
  body .desk-flex-column-reverse {
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  body .desk-justify-content-start {
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  body .desk-justify-content-end {
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  body .desk-justify-content-center {
    -ms-flex-pack: center;
    justify-content: center;
  }
  body .desk-justify-content-between {
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  body .desk-justify-content-around {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
}