<template>
  <section class="section">
    <div class="columns is-mobile">
      <div
        class="column">
        <div class="card">
          <header class="card-header">
            <p class="card-header-title has-text-grey">
              SEARCH
            </p>
          </header>
          <div class="card-content">
            <div class="content has-text-centered d-flex">
              <div class="search-bar">
                <b-input 
                  v-model="searchValue"
                  placeholder="search here..."
                  type="search"
                  icon="magnify"
                  @keyup.native.enter="submitFunction()" />
              </div>
              <div class="search-button">
                <button 
                  class="button is-primary" 
                  @click="submitFunction()">Search</button>
              </div>
            </div>
          </div>
          <footer class="card-footer">
            <div
              class="card-footer-item"/>
          </footer>
        </div>
        <div class="card">
          <header class="card-header">
            <p class="card-header-title has-text-grey">
              Results
            </p>
          </header>
          <div class="card-content">
            <div class="content has-text-centered d-flex">
              <div id="result-div"/>
            </div>
          </div>
          <footer class="card-footer">
            <div
              class="card-footer-item"/>
          </footer>
        </div>        
      </div>
    </div>
  </section>
</template>

<script>
import { translate } from '@/utils/axios.js'
export default {
  name: 'HomePage',
  data() {
    return {
      searchValue: '',
      results: {}
    }
  },
  mounted() {},
  methods: {
    async submitFunction() {
      let htmlObject = document.getElementById('result-div')
      this.results = await translate(this.searchValue)
      htmlObject.innerHTML = this.results.data.data.translations[0].translatedText
    }
  }
}
</script>
